.image {
  margin-bottom: 1rem;
  border-radius: 0.5rem;

  width: 100%;
  height: 200px;

  @media (min-width: 384px) {
    width: 100%;
    height: 200px;
  }

  @media (min-width: 576px) {
    width: 100%;
    height: 300px;
  }

  @media (min-width: 768px) {
    width: 32%;
    height: 300px;
  }
}
