.loaded {
  display: none;
};

.loading {
  display: block;
};

.image_container { 
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
};

.more { 
  color: blue;
};

.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25rem;
}
