.lightbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    overflow: hidden;
    left: 0px;
    top: 0px;
    z-index: 99;
    text-align: center;
    background-color: rgba(10, 10, 10, 0.6);
    
    img {
        width: 80%;
        height: 80%;
        object-fit: contain;
    }
}
